/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v16/.suo
/RemoteCtrl/.vs/RemoteCtrl/v16/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch/abb6d06acecaa027.ipch
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
